/* Font Face
 ========================================= */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@font-face {
  font-family: 'oklahomabold';
  src: url('../fonts/oklahoma_bold-webfont.woff2') format('woff2'), url('../fonts/oklahoma_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oklahomaregular';
  src: url('../fonts/oklahoma_normal-webfont.woff2') format('woff2'), url('../fonts/oklahoma_normal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Basic css
 ========================================= */

body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
}

img {
  display: block;
  max-width: 100%;
}


/*  general section css (common css)
**************************************************/

.page-container-wrap {
  margin: auto;
  border: 20px solid #ffffff;
  width: 100%;
  background: #dae1e7;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
 ::after,
 ::before {
  box-sizing: border-box;
  outline: none !important;
}

body,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #656565;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #656565;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #656565;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #656565;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'oklahomabold';
}

p {
  font-size: 18px;
  line-height: 35px;
  color: #030004;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-weight: 300;
}

a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

p b {
  font-weight: 600;
}

h2 {
  color: #080002;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 38px;
  line-height: normal;
  text-align: center;
  display: table;
  width: auto;
  margin: 0 auto;
  padding-bottom: 10px;
}

input {
  outline: none !important;
}

section,
footer {
  padding: 100px 0 100px 170px;
  min-height: 100vh;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}

section aside,
footer aside {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

section figure {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

section h2 {
  margin-bottom: 50px;
}

blockquote {
  font-size: 18px;
  line-height: 35px;
  color: #030004;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0 0;
  font-weight: 300;
  float: left;
  width: 100%;
  display: none;
}

span.d-block {
  display: block;
}

.mt-50 {
  margin-top: 50px;
}

section:nth-child(1) {
  text-align: center;
  background-color: transparent;
  position: relative;
  min-height: calc(100vh - 20px);
  width: 100%;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
}

section:nth-child(1) ul {
  position: absolute;
  right: 100px;
  bottom: 100px;
}


/*section:nth-child(1) figure{
  position: relative;
}*/


/*section:nth-child(1) aside{
  vertical-align: middle;
}*/

section:nth-child(1) h1 {
  margin: 0;
}

section:nth-child(1) h1,
section:nth-child(1) p {
  width: 100%;
  display: inline-block;
}

section:nth-child(1) img {
  display: block;
  position: absolute;
  top: 84%;
  left: 170px;
  right: 0;
  margin: 0 auto;
}


/*section:nth-child(1) ul li a{
  color: #cd9933
}*/

section:nth-child(1) h1 {
  text-transform: uppercase;
  font-size: 54px;
  font-family: 'oklahomaregular';
  font-weight: normal;
  color: #000;
  margin: 0;
}

section:nth-child(1) h1 {
  text-transform: uppercase;
  font-family: 'oklahomaregular';
  font-weight: normal;
  width: auto;
  font-size: 62px;
}

section:nth-child(1) h1 {
  width: 100%;
  display: inline-block;
  font-style: normal;
  color: #ca972b;
  line-height: normal;
}

section:nth-child(1) h2 {
  font-size: 40px;
  letter-spacing: 1.5px;
  position: relative;
  color: #000;
  font-family: 'oklahomaregular';
  line-height: 1;
  text-transform: uppercase;
}

section:nth-child(1) h2:before {
  position: absolute;
  content: "";
  top: calc(50% - 2px);
  height: 2px;
  width: 135px;
  left: -150px;
  background-color: #000;
}

section:nth-child(1) h2:after {
  position: absolute;
  content: "";
  top: calc(50% - 2px);
  height: 2px;
  width: 135px;
  right: -150px;
  background-color: #000;
}
section:nth-child(1) h2 {
  margin-bottom: 50px;
}
section:nth-child(1) h3 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0;
    width: 100%;
}
section:nth-child(1) h4 {
  margin: 0 0 30px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
section:nth-child(1) figure{
  width: 100%;
}
section:nth-child(1) p {
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}

nav {
  position: fixed;
  z-index: 2;
  top: 75px;
  left: 95px;
}

nav a:last-child {
  margin: 0;
}

nav a {
  padding: 15px 20px 15px 40px;
  width: 100%;
  text-decoration: none !important;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 0 20px;
  text-transform: uppercase;
  color: #ca972b;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
nav > div > a:first-child,
nav > div > a:last-child{
  padding-left: 15px;
}
nav > div > a:first-child figure{
  position: relative;
}
nav > div > a:first-child figure:after{
  content: "";
  height: 40px;
  width: 2px;
  background-color: #000;
  position: absolute;
  right: -13px;
  top: 12px;
}
nav > div > a:first-child figure:before {
    content: "";
    position: absolute;
    width: 11px;
    height: 2px;
    background-color: #000;
    right: -12px;
    top: 12px;
}
nav a:first-child:hover{
  background-color: transparent;
}
nav a:first-child:hover img:last-child{
  display: none;
}
nav a:first-child:hover img:first-child{
  display: block;
}
nav a h1 {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

nav a img {
  margin: 0 auto;
}

nav a:hover,
nav a[data-active="1"] {
  background: #fff;
}

nav a:hover h1,
nav a[data-active="1"] h1 {
  opacity: 1;
}

nav a:hover img:last-child,
nav a[data-active="1"] img:last-child {
  display: block;
}

nav a:hover img:first-child,
nav a[data-active="1"] img:first-child {
  display: none;
}

nav {
  max-width: 205px;
  width: 100%;
}

nav:after {
  position: absolute;
  content: "";
  right: 105px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #a17720;
  z-index: -1;
  opacity: .24;
}

nav a figure {
  float: left;
  margin: 0 15px 0 0;
  width: 33px;
  text-align: center;
}

nav a img:last-child {
  display: none;
}

nav button {
  display: none;
}



/* Benifit Section [ Section 2 ]
 ========================================= */

section:nth-child(2) {
  position: relative;
  z-index: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

section:nth-child(2),
#team,
section#testimonials {
  background-color: #cd9933;
}
#benifits ul li{
  position: relative;
  margin-bottom: 20px;
  padding-left: 45px;
  font-size: 19px;
}
#benifits ul li:before{
  content: "";
  top: 50%;
  left: 0;
  position: absolute;
  background-image: url(../images/benifit-check.png);
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: left center;
  height: 100%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}



/* Values Section [ Section 3 ]
 ========================================= */

section:nth-child(3) {
  background-color: transparent;
}

section:nth-child(3) p {
  text-align: center;
  margin-bottom: 70px;
  width: 100%;
}

section:nth-child(3) p:nth-child(3) {
  margin: 70px auto;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #050505;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'oklahomaregular';
}

section:nth-child(3) p img {
  margin: 0 auto 30px;
}

section:nth-child(3) form h2 {
  border: none;
  text-transform: none;
  margin: 0 auto 35px;
  font-size: 32px;
  line-height: 36px;
  max-width: 580px;
}

section:nth-child(3) form .g-recaptcha {
  transform: scale(0.65);
  margin: -68px 0 -10px 550px;
  float: left;
}

section:nth-child(3) form .form-control {
  display: none;
}

section:nth-child(3) form input:last-child {
  width: 100%;
}

section:nth-child(3) form input {
  height: 47px;
  padding: 10px 12px;
  background: #ffffff;
  border: 1px solid #ffffff;
  width: calc(25% - 4px);
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  border-radius: 0;
  box-shadow: none;
  float: left;
  margin: 0 6px 6px 0;
}

section:nth-child(3) form button {
  background: #cd9933;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #3e3e3e;
  text-transform: uppercase;
  font-family: 'oklahomabold';
  text-align: center;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  font-size: 18px;
}

section:nth-child(3) form button:hover {
  background-color: #3e3e3e;
  color: #fff;
}

section:nth-child(3) h2 {
  width: 100%;
}

section:nth-child(3) h3,
section:nth-child(3) a {
  width: 24%;
  float: left;
  text-align: center;
  padding: 50px 0;
  margin: 0;
}

section:nth-child(3) h3 img,
section:nth-child(3) a img {
  margin: 0 auto 10px;
  display: table;
  border: 2px solid;
  width: 130px;
  padding: 7px;
}



/* Team Section [ Section 4 ]
=======================================*/

#team h3,
#team a {
  width: 50%;
  float: left;
  text-align: center;
  padding: 100px 15px;
  margin: 0;
  text-decoration: none;
}

#team a>p:nth-child(2) {
  color: #fff;
  margin: 16px 0;
  display: block;
}

#team p {
    line-height: normal;
    font-size: 24px;
    text-align: center;
    font-family: 'oklahomabold';
    margin: 0 0 30px;
}

#team h3 img,
#team a img {
/*  border: 2px solid #fff;*/
  padding: 5px;
  width: 165px;
  margin: auto;
}
#team h3 img:last-child,
#team a img:last-child {
  display: none;
}
#team h2 {
  width: 100%
}
#team h3 span,
#team a span{
    font-family: 'oklahomabold';
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    display: block;
}
#team figure > img{
  max-width: 450px;
  margin: 0 auto;
}

/* Contact Section [ Footer - last section ]
 ========================================= */

footer {
  text-align: center;
  background-color: #dae1e7;
  min-height: calc(100vh - 20px);
}

footer h2 {
  width: 100%;
  border: none;
  margin-bottom: 35px;
  padding-bottom: 0;
}

footer address {
  width: 100%;
  font-style: normal;
}

footer p {
  width: 100%;
  color: #000;
  font-size: 20px;
  line-height: 40px;
}

footer address:nth-child(3) {
  margin: 45px auto 50px;
  max-width: 425px;
  display: table;
  border: 1px solid rgb(205, 153, 51);
  padding: 20px;
  width: 100%;
}

footer address:nth-child(3) p b {
  text-transform: uppercase;
}

footer figcaption {
  margin: 0 0 50px;
}

footer figcaption ul {
  margin: 0 auto;
  display: table;
}

footer figcaption ul li {
  float: left;
}

footer figcaption ul li a,
footer figcaption ul li a:hover {
  color: #000;
}

footer p:nth-child(4) {
  font-size: 16px;
  color: #000;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}


/* Media Screen
 ========================================= */

@media screen and (max-width: 1400px) {
  /* general section css (common css) ====================================*/
  nav {
    top: 55px;
    left: 55px;
  } 

}

@media screen and (max-width: 1199px) {
  /*  general section css (common css) ====================================*/
  h2 {
    font-size: 42px;
  }
  section h2 {
    margin-bottom: 35px;
  }
  section,
  footer {
    padding: 80px 0 80px 150px;
  }
  section:nth-child(1) img {
    left: 150px;
  }
  section:nth-child(1) ul {
    right: 60px;
    bottom: 60px;
  }
  section:nth-child(1) p{
    max-width: 640px;
  }
  section:nth-child(1) p br{
    display: none;
  }
   /* section:nth-child(1) img {
      height: 250px;
    } */
  section:nth-child(1) h2 {
    margin-bottom: 35px;
  }
   
  nav {
    top: 45px;
    left: 45px;
  }
  nav a {
    padding: 12px 15px;
    margin: 0 0 15px;
  }
  nav {
    max-width: 160px;
  }
  nav a figure {
    margin: 0 10px 0 0;
  }
  nav:after {
    right: 90px;
  }
  nav > div > a:first-child figure:before,
  nav > div > a:first-child figure:after{
    display: none;
  }

  /*  projects Section [ Section 2 ] ====================================*/
  /*section:nth-child(2) h1 {
    font-size: 42px;
  }
  section:nth-child(2) h1 {
    margin-bottom: 35px;
  }
  section:nth-child(2) h2 {
    padding: 35px 15px;
  }
  section:nth-child(2) h2 {
    width: 22%;
  }*/


  /*  Values Section [ Section 3 ] ====================================*/
  /*section:nth-child(3) h3,
  section:nth-child(3) a {
    width: 22%;
  }
  section:nth-child(3) form h2 {
    font-size: 28px;
    line-height: 34px;
    max-width: 510px;
  }
*/



  /* Contact Section [ Footer ] ===========================================*/
  footer p {
    font-size: 18px;
  }
  footer address:nth-child(3) {
    margin: 40px auto;
  }
}

@media screen and (max-width: 991px) {
  /*  general section css (common css) ====================================*/
  h2 {
    font-size: 40px;
  }
  p,
  blockquote {
    font-size: 17px;
    line-height: 32px;
  }
  section {
    padding: 60px 0;
  }
    section:nth-child(1) ul {
    right: 50px;
    bottom: 50px;
  }
  section:nth-child(1) {
    padding: 80px 0;
  }
  section:nth-child(1) img {
    left: 0;
  }
  
  nav button {
    display: block;
    border: none;
    background: transparent;
    padding: 0;
    float: left;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 40px;
  }
  nav {
    top: 20px;
    left: 20px;
    max-width: 110px;
  }
  nav > div {
    background: #e4eaef;
    padding: 30px 0 30px 25px;
    display: none;
  }
  nav a {
    float: none;
  }
  nav:after,
  nav a h1 {
    display: none;
  }


  /*  projects Section [ Section 2 ] ====================================*/
  section:nth-child(2) {
    padding-left: 0;
  }
  section:nth-child(2) h1 {
    font-size: 40px;
  }
  section:nth-child(2) h2 span,
  section:nth-child(2) a span {
    line-height: 20px;
  }



  /*  Values Section [ Section 3 ] ====================================*/
  section:nth-child(3) {
    padding-left: 0;
  }
  section:nth-child(3) p:nth-child(3) {
    margin: 40px auto;
  }
   /* section:nth-child(3) dd figcaption ul li a{
          font-size: 14px;
          padding: 0 0 10px;
    } */
  section:nth-child(3) form h2 {
    margin: 0 auto 25px;
  }
 


  /*  Team Section [ Section 4 ]  ====================================*/
  #team {
    padding-left: 0;
  }


  /* Contact Section [ Footer ] ===========================================*/
  footer p {
    font-size: 16px;
    line-height: 32px;
  }
  footer {
    padding: 60px 0;
  }
  footer h2 {
    margin-bottom: 25px;
  }
  footer address:nth-child(3) {
    margin: 35px auto;
    padding: 15px;
  }
  footer figcaption {
    margin: 0 0 35px;
  }
    /*footer figcaption ul a{
          font-size: 14px;
          padding: 0 0 10px;
    } */
  footer p:nth-child(4) {
    font-size: 14px;
    line-height: 26px;
  }


}

@media screen and (max-width: 920px) {
  /*  Values Section [ Section 3 ] ====================================*/
  section:nth-child(3) form {
    padding: 0 15px;
  }
  section:nth-child(3) form input {
    width: calc(33.33% - 6px);
  }
  section:nth-child(3) form input:nth-child(4) {
    width: 33.33%;
    margin-right: 0;
  }
  section:nth-child(3) form input:nth-child(5) {
    width: 100%;
  }
  section:nth-child(3) form .g-recaptcha {
    margin: -12px 0 -10px -30px;
    transform: scale(0.7);
    width: 197px;
  }
  section:nth-child(3) form ul {
    margin: 0;
    max-width: 100%;
    position: relative;
    padding: 0 15px;
  }
  section:nth-child(3) form button {
    width: calc(100% - 218px);
    padding: 15px 10px;
    float: right;
  }
  section:nth-child(3) figure {
    padding: 0 5px;
  }
  section:nth-child(3) figure p,
  section:nth-child(3) form h2 {
    padding: 0 15px;
  }
  section:nth-child(3) form ul:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }
  section:nth-child(3) form li .g-recaptcha div {
    width: 100% !important;
    height: 100% !important;
  }


  /*  Team Section [ Section 4 ]  ====================================*/
  form li:nth-child(4) {
    width: 162px !important;
    position: absolute;
    bottom: 0px;
    left: 0;
  }

}

@media screen and (max-width: 767px) {
  /*  general section css (common css) ====================================*/
  h2 {
    font-size: 30px;
    padding-bottom: 0;
  }
  section figure {
    padding: 0 20px;
  }
  p,
  blockquote {
    font-size: 16px;
  }
  blockquote {
    text-align: center;
  }
  section h2 {
    line-height: 45px;
  }
  section {
    padding: 50px 0;
  }
   section:nth-child(1) ul {
    right: 0;
    bottom: auto;
    top: 50px;
    width: 100%;
  }
  section:nth-child(1) {
    padding: 80px 0 100px;
  }
  /* section:nth-child(1) h1{
      margin: 0 0 45px;
    } */
    /* section:nth-child(1) img {
        height: 250px;
    } */
  section:nth-child(1) img{
    top: 90%;
  }
  section:nth-child(1) h1 {
    font-size: 38px;
  }
  section:nth-child(1) h2 {
    font-size: 21px;
  }
  section:nth-child(1) h2:before {
    width: 88px;
    left: -95px;
  }
  section:nth-child(1) h2:after {
    width: 88px;
    right: -95px;
  }
  section:nth-child(1) figure figure {
    padding: 0;
  }
  section:nth-child(1) p{
    font-size: 15px;
  }
  section:nth-child(1) h3 img{
    border: 2px solid #000;
  }
  section:nth-child(1) h4,
  section:nth-child(1) h3{
    font-size: 15px;
  }

  /*  projects Section [ Section 2 ] ====================================*/
  section:nth-child(2) h1 {
    font-size: 30px;
    padding-bottom: 0;
  }
  section:nth-child(2) p b {
    font-weight: 300;
  }
  section:nth-child(2) p {
    text-align: center;
  }
  section:nth-child(2) h1 {
    line-height: 45px;
  }
  section:nth-child(2) figure blockquote {
    margin: 0 0 30px;
  }
  section:nth-child(2) figure:last-child {
    margin-bottom: 0;
  }
  #benifits ul li:before{
    background-size: 22px;
  }
  #benifits ul li{
    font-size: 16px;
    padding-left: 40px;
  }


  /*  Values Section [ Section 3 ] ====================================*/
  section:nth-child(3) p {
    text-align: center;
  }
  /* section:nth-child(3) dd, section:nth-child(3) dd figcaption{
            display: table;
            width: 100%;
            text-align: center;
    }
    section:nth-child(3) dd figcaption{
            margin-top: 35px;
    } */
    /* section:nth-child(3) dd figcaption ul li a{
            letter-spacing: 1px;
            font-size: 15px;
    }
    section:nth-child(3) dd img, 
    section:nth-child(3) dd figcaption ul{
            margin: 0 auto;
            display: table;
    } */
  section:nth-child(3) form h2 {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    max-width: 540px;
  }
  section:nth-child(3) p:nth-child(3) {
    margin: 40px auto 60px;
  }
  section:nth-child(3) form ul li {
    width: 50%;
  }
  section:nth-child(3) form ul li:nth-child(3) {
    width: 100%;
  }
  section:nth-child(3) form input:nth-child(4),
  section:nth-child(3) h3, section:nth-child(3) a {
    width: 100%;
  }
  section#bio form input:nth-child(2) {
    width: 50%;
    margin-right: 0;
  }
  section:nth-child(3) form input:nth-child(3) {
    width: 100%;
    margin-right: 0;
  }
  section:nth-child(3) form input {
    width: calc(50% - 6px);
  }
  section:nth-child(3) h3,
  section:nth-child(3) a {
    padding: 20px 0;
  }
  section:nth-child(3) h3,
  section:nth-child(3) a {
    padding: 40px 15px;
  }


  /*  Team Section [ Section 4 ]  ====================================*/
  #team h3,
  #team a {
    width: 100%;
  }
  #team h3 img,
  #team a img {
    margin: auto;
  }
  #team h3,
  #team a {
    padding: 40px 15px;
  }
  #team p br{
    display: none;
    font-size: 18px;
  }
  #team a>p:nth-child(2){
    font-size: 20px;
  }
  #team figure > img{
    max-width: 215px;
  }
  #team h3 img:last-child,
  #team a img:last-child {
    display: block;
  }
  #team h3 img:nth-child(2),
  #team a img:nth-child(2) {
    display: none;
  }
  #team h3:last-child img{
    width: 250px;
  }
  #team p{
    font-size: 20px;
  }

  /* Contact Section [ Footer ] ===========================================*/
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  footer h2 {
    margin-bottom: 40px;
  }
  /*    footer figcaption ul a{
          letter-spacing: 1px;
          font-size: 15px;
    }*/
  footer {
    padding: 50px 0;
  }
}

@media screen and (max-width: 481px) {
  /*  Values Section [ Section 3 ] ====================================*/
  section:nth-child(3) figure {
    padding: 0 5px;
  }
  section:nth-child(3) figure p,
  section:nth-child(3) form h2 {
    padding: 0 15px;
  }
  section:nth-child(3) form ul {
    margin: 0;
    max-width: 100%;
    position: relative;
    padding: 0 0;
  }
  section:nth-child(3) form ul:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }
  section:nth-child(3) form {
    padding: 0 2px;
  }
  section:nth-child(3) form button {
    margin-top: 0px;
    padding: 10px 10px;
    width: calc(100% - 170px);
  }
  section:nth-child(3) form .g-recaptcha {
    margin: 0px 0 -35px 0px;
    transform: scale(0.55);
    display: block;
    width: 162px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }


  /*  Team Section [ Section 4 ]  ====================================*/
  form li:nth-child(4) {
    width: 162px !important;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  

  /* Contact Section [ Footer ] ===========================================*/
  footer address:nth-child(3) {
    max-width: 260px;
  }
}

@media screen and (max-width: 390px) {
  /* general section css (common css) ====================================*/
  section:nth-child(1) h1 {
    font-size: 30px;
  }
  section:nth-child(1) h2:after {
    top: calc(50% - 1px);
    height: 2px;
    width: 60px;
    right: -68px;
  }
  section:nth-child(1) h2:before {
    top: calc(50% - 1px);
    height: 2px;
    width: 60px;
    left: -69px;
  }
  

  /*  Values Section [ Section 3 ] ====================================*/
  section:nth-child(3) form li .g-recaptcha {
    margin: 0;
    transform: scale(0.7778);
    -webkit-transform: scale(0.7778);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  section:nth-child(3) form li .g-recaptcha div {
    width: 100% !important;
    height: 100% !important;
  }
  section:nth-child(3) form ul {
    display: block;
    margin: 0 auto;
    max-width: 240px;
  }
  /* section:nth-child(3) form button{
      margin-top: -11px;
    } */
}
