@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: Oklahoma;
  src: "../fonts/oklahoma_bold-webfont.woff";
	
}

body {
	text-align: center
}

h1 {
	font-family: Oklahoma;
	text-transform: uppercase;
}

h2 {
	font-family: Oklahoma;
	text-transform: uppercase;
}
