/* Font Face **/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@font-face {
  font-family: "oklahomabold";
  src: url("../fonts/oklahoma_bold-webfont.woff2") format("woff2"),
    url("../fonts/oklahoma_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oklahomaregular";
  src: url("../fonts/oklahoma_normal-webfont.woff2") format("woff2"),
    url("../fonts/oklahoma_normal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* basic **/

body {
  background: #f2f2f2;
  padding: 15px;
}

* {
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #030004;
}

/* main content **/

#main-container {
  background: #dae1e7;
  min-height: 100vh;
}

#container {
  padding-top: 200px;
}

#container #title {
  color: #ca972b;
  font-size: 62px;
  margin: 0;
  text-transform: uppercase;
  font-family: oklahomaregular, arial;
}

#container #sub-title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: oklahomaregular, arial;
  line-height: 0.1em;
  max-width: 450px;
  margin: 20px auto 80px auto;
  border-bottom: 1px solid #000;
}

#container #sub-title span {
  background: #dae1e7;
  padding: 0 10px;
}

#container p {
  font-size: 21px;
  max-width: 710px;
  margin: auto;
  margin-bottom: 20px;
  font-weight: 600;
}

/* menu + icons **/

#container #services-area {
  display: flex;
  max-width: 1200px;
  min-height: 300px;
  margin: auto;
}

#container #services-area h2 {
  float: left;
  width: 33%;
}

#container #services-area img {
  position: absolute;
  width: 110px;
}

#container #services-area a {
  display: block;
  width: 100%;
  padding-top: 180px;
  text-align: center;
  text-decoration: none;
  font-family: "oklahomabold";
  color: #030004;
  font-size: 18px;
}

#container #services-area a:hover {
  color: #ca972b;
}

#container #services-area a.no-hover {
  color: #030004;
}

#container #services-area a:hover .hide-on-hover {
  opacity: 0;
}

#container #services-area h2:first-child img {
  margin-top: -130px;
  margin-left: 25px;
}

#container #services-area h2:nth-child(2) img {
  margin-top: -130px;
  margin-left: -30px;
}

#container #services-area h2:nth-child(3) img {
  margin-top: -130px;
  margin-left: -25px;
}

/** media query **/

/** small device **/
@media all and (max-width: 500px) {
  #container #services-area h2:first-child img {
    margin-top: -130px;
    margin-left: -15px;
  }
}
